head
	title Langenium 
	link(href='/styles/layout.css', rel='stylesheet', type='text/javascript')
	link(href='/styles/menu.css', rel='stylesheet', type='text/javascript')
	link(href='/styles/styles.css', rel='stylesheet', type='text/javascript')
	link(href='/styles/blueprint/screen.css', rel='stylesheet', type='text/javascript')
	link(href='/styles/jquery-ui-1.10.2.custom.css', rel='stylesheet', type='text/javascript')
	link(href='http://fonts.googleapis.com/css?family=Aldrich', rel='stylesheet', type='text/javascript')
	if (page == 'pages/home')
		link(href='/styles/pages/home.css', rel='stylesheet', type='text/javascript')
	if (page == 'pages/about/')
		link(href='/styles/pages/about.css', rel='stylesheet', type='text/javascript')
	if (page == 'pages/gallery/')
		link(href='/styles/pages/gallery.css', rel='stylesheet', type='text/javascript')
	if (page == 'pages/guide/')
		link(href='/styles/pages/guide.css', rel='stylesheet', type='text/javascript')
	if (page == 'pages/community/')
		link(href='/styles/pages/community.css', rel='stylesheet', type='text/javascript')