doctype 5
html(lang="en")
	head
		title Langenium 
		include ../styles/website.css
		include ../styles/blueprint/screen.css
		include ../styles/jquery-ui-1.10.2.custom.css
	body
		.container
			#header.span-22.last
				h1.span-9 Langenium
				ul#menu.span-12.last
					li.menu-item
						a Home
					li.menu-item
						a About
					li.menu-item
						a Gallery
					li.menu-item
						a Community
					li.search
						input(type='text', value='Search')#search
						a.button GO
			#slideshow.span-15 
				h2.hidden Slideshow
				ul
					li
						h3 Welcome to Langenium
						p A game bla bla bla
					li
						h3 Game trailer
						p A game bla bla bla
					li
						h3 Game trailer
						p A game bla bla bla
					li
						h3 Game trailer
						p A game bla bla bla
			#play.span-7.last 
				h2.hidden Play
				h3 PLAY LANGENIUM
				p	You can play Langenium by connecting with either OpenID or Facebook. 
				p	Once you select a method, choose your game mode to login.
			#news.span-15 
				h2.hidden News
				ul
					li
						h3
			#game_guide.span-7.last 
				h3 Game guide