ul#menu.span-12.last
	li.menu-item
		a(href='/about/') About
	li.menu-item
		a(href='/gallery/') Gallery
	li.menu-item
		a(href='/guide/') Game Guide
	li.menu-item
		a(href='/community/') Community
	li.search
		input(type='text', value='Search')#search
		a.button GO