ul#menu.span-13.last
	li
		a(href='/about/').menu-item
			.indicator
			span About
	li
		a(href='/gallery/').menu-item
			.indicator
			span Gallery
	li
		a(href='/guide/').menu-item
			.indicator
			span Game Guide
	li
		a(href='/community/').menu-item
			.indicator
			span Community
	li
		.menu-item
			input(type='text', value='Search')#search
			a.button GO