/*
	UI styles
*/
.dialog {
	color: #FFF;
	background-color: #000;
	opacity: .8;
	z-index: 10;
	position: absolute;
	height:auto;
	padding: 1em;
	margin: .5em;
	font: 10px Verdana;
	max-height: 80%;
	
}

#editor_tools .button.refresh {
	margin: 0px auto;
}
.ui-menu .ui-menu-item a {
	min-width: 100px;
}

