!!!5
html
	head
		include header
	body
		.container
			.round-box
				#header.span-22.last
					h1.span-7
						a(href='/') 
							span.hidden Langenium
					include menu
			if (page == 'pages/home')
				include pages/home
			if (page == 'pages/about')
				include pages/about
			if (page == 'pages/gallery')
				include pages/gallery
			if (page == 'pages/guide')
				include pages/guide
			if (page == 'pages/community')
				include pages/community