meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
title Langenium 
link(rel='shortcut icon', href='/favicon.ico')
link(rel='stylesheet', href='/website/styles/screen.css')
link(rel='stylesheet', href='/website/styles/styles.css')
link(rel='stylesheet', href='/website/styles/menu.css')
link(rel='stylesheet', href='/shared/styles/jquery-ui-1.10.2.custom.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Aldrich')
script(src='/shared/scripts/jquery.min.js')
script(src='/shared/scripts/jquery.cycle.all.js')
if (page == 'pages/home')
	link(rel='stylesheet', href='/website/styles/pages/home.css')
	script(src='/website/scripts/slideshow.js')
	script(src='/website/scripts/news.js')
if (page == 'pages/about/')
	link(rel='stylesheet', href='/website/styles/pages/about.css')
if (page == 'pages/gallery/')
	link(rel='stylesheet', href='/website/styles/pages/gallery.css')
if (page == 'pages/guide/')
	link(rel='stylesheet', href='/website/styles/pages/guide.css')
if (page == 'pages/community/')
	link(rel='stylesheet', href='/website/styles/pages/community.css')