!!!5
html
	head
		include header
	body
		.container
			.round-box
				#header.span-22.last
					h1.span-7
						a(href='/') 
							span.hidden Langenium
					include menu
			case page
				when 'pages/home'
					include pages/home				
				when 'pages/about'
					include pages/about
				when 'pages/gallery_list'
					include pages/gallery_list
				when 'pages/gallery_view'
					include pages/gallery_view
				when 'pages/guide'
					include pages/guide
				when 'pages/community'
					include pages/community
	script
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-37159175-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();