.row
	.round-box.last
		.span-14.last
			#slideshow.round-box
				h2.hidden Slideshow
				ul
					li
						.text.left
							h3 Welcome to Langenium
							p This site is currently under construction.
							p Get updates from the 
								a(href='http://www.facebook.com/Langenium') Langenium Facebook page.
					li
						.text.right
							h3 Game trailer
							p A game bla bla bla
					li
						.text.left
							h3 Game trailer
							p A game bla bla bla
					li
						.text.right
							h3 Game trailer
							p A game bla bla bla
	.round-box.last
		.span-6.last 
			#play
				h2.hidden Play
				h3 PLAY LANGENIUM
				p	You can play Langenium by connecting with either OpenID or Facebook. 
				p	Once you select a method, choose your game mode to login.
				a(href='/play',target='_new').button Launch game
.row
	.round-box.last
		.span-14.last
			#news
				h2.hidden News
				ul
					li
						h3 New 3D models, 
							span.small 14 April 2013
						p
							| I've instroduced new 3D models into the game and I ca'nt be Duis aute irure dolor in reprehenderit 
							| voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						a(href='#') Read more
					li
						h3 New Editor,
							span.small 14 April 2013
						p
							| I've instroduced new 3D models into the game and I ca'nt be Duis aute irure dolor in reprehenderit 
							| voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						a(href='#') Read more
					li
						h3 New 3D models, 
							span.small 14 April 2013
						p
							| I've instroduced new 3D models into the game and I ca'nt be Duis aute irure dolor in reprehenderit 
							| voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						a(href='#') Read more
					li
						h3 New Editor,
							span.small 14 April 2013
						p
							| I've instroduced new 3D models into the game and I ca'nt be Duis aute irure dolor in reprehenderit 
							| voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						a(href='#') Read more					
	.round-box.last
		.span-6.last
			#game_guide
				h3 Game guide
				ul
					li
						a(href='#') How to play
					li
						a(href='#') Story
					li
						a(href='#') Locations
					li
						a(href='#') Factions
					li
						a(href='#') Ships
					li
						a(href='#') Enemies